<app-header pageActive="page1" pageActive2="disabled" pageActive3="disabled" pageActive4="disabled"></app-header>

<form action="" (ngSubmit)="submit()" [formGroup]="profileForm" #formDir ='ngForm'>
    <section class="header">
        <h2>Personal info</h2>
        <p>Please provide your name, email and <br>phone number</p>
    </section>
    <section class="inputs">
        <label for="user">Name</label>
        <input formControlName = "userName" required type="text" name="user"  placeholder="enter your username" id="">
        <div *ngIf="userName.invalid && formDir.submitted">
            <label [className]="errorMessage" *ngIf="userName.errors?.['required']" for="user">User obrigatório</label>
            <label [className]="errorMessage" *ngIf="userName.errors?.['maxlength']" for="user">Usuário deve ter no maximo 15 caracteres</label>
            <label [className]="errorMessage" *ngIf="userName.errors?.['minlength']" for="user">Usuário deve ter no minimo 5 caracteres</label>
        </div>

        <label for="email">Email</label>
        <input type="email" formControlName = "email" name="email" placeholder="enter your email">
        <div *ngIf="email.invalid && formDir.submitted">

            <label for="email" [className]="errorMessage" *ngIf="email.errors?.['required']">email obrigatorio </label>
            <label for="email" [className]="errorMessage" *ngIf="email.errors?.['email']">Digite um email Válido</label>
        </div>


        <label for="senha">Phone Number</label>
        <input type="tel" formControlName = "phoneNumber" name="phoneNumber" placeholder="enter your phone number" id="">

        <div *ngIf=" phoneNumber.invalid &&formDir.submitted">

            <label for="phoneNumber" [className]="errorMessage" *ngIf="phoneNumber.errors?.['required'] || phoneNumber.errors?.['invalidPhoneNumber'] ">Digite um número de telefone Válido </label>
        </div>


    </section>
    <app-footer text="Next Step" ></app-footer>
</form>

